
.survey-update__question{


    .input{
        border: none;
        border-bottom: 1px solid black;
        margin: 0 .5rem;
        width: 30%;

        &:focus{
            outline: none;
        }
    }

    .trash-can-logo{
        width: 2%;
        margin-left: 1rem;
        cursor: pointer;
    }

    .survey-update__answers{
        margin-top: 1rem;
        ul{
            list-style: none;
            li{
                &:not(:last-child){
                margin-bottom: 1rem;
                    
                }
            }
        
        }

    }



}
