*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:visited,
a:link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body{
    font-size: 62.5%;
    box-sizing: border-box;
}


.button{
    border-radius: 5%;
    background-color: white;
    padding: .5rem;
    cursor: pointer;
}