*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 62.5%;
    box-sizing: border-box;
}


.button{
    border-radius: 10%;
    background-color: white;
    padding: .5rem;
    cursor: pointer;
}